## Challenge 1: Tuples

#### Do you know you can create tuples with only one element?

**In the cell below, define a variable `tup` with a single element `"I"`.**

In [3]:
# Your code here
mi_tupla= ("i") #declaramos la tupla
mi_tupla

'i'

#### Print the type of `tup`. 

Make sure its type is correct (i.e. *tuple* instead of *str*).

In [4]:
# Your code here
print(f"Mi tupla contiene:{mi_tupla}")

Mi tupla contiene:i

#### Now try to append the following elements to `tup`. 

Are you able to do it? Explain.

```
"r", "o", "n", "h", "a", "c", "k',
```

In [5]:
# Your code here
mi_tupla.append("a")
# Your explanation here
# La tupla es un objeto inmutable dentro del codigo, no es posible ingresar, eliminar, ni modificar el valor de la tupla una vez este es declarado
# You can :)

AttributeError: 'str' object has no attribute 'append'

#### How about re-assign a new value to an existing tuple?

Re-assign the following elements to `tup`. Are you able to do it? Explain.

```
"I", "r", "o", "n", "h", "a", "c", "k"
```

In [6]:
# Your code here
mi_tupla = ("I",)#se deja una "," para que python interprete que no es una cadena de texto 
                 # para que python entienda que es una tupla de un solo elemento debo poner "," al final
mi_tupla2 = ("r", "o", "n", "h", "a", "c", "k")
re_tupla= mi_tupla + mi_tupla2 #creo una nueva tupla a partir de las 2 anteriores aunque las 2 anteriores mantengan sus valores
print(f"Mi nueva tupla contiene: {re_tupla}")

Mi nueva tupla contiene: ('I', 'r', 'o', 'n', 'h', 'a', 'c', 'k')

#### Split `tup` into `tup1` and `tup2` with 4 elements in each. 

`tup1` should be `("I", "r", "o", "n")` and `tup2` should be `("h", "a", "c", "k")`.

*Hint: use positive index numbers for `tup1` assignment and use negative index numbers for `tup2` assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.*

Also print `tup1` and `tup2`.

In [7]:
# Your code here
tup1= re_tupla[0:4]#usamos slicing para asigunar valores a la nueva tupla
tup2= re_tupla[-4:]
print(f"Mi tupla 1 es: {tup1} y mi tupla 2 es:{tup2}")

Mi tupla 1 es: ('I', 'r', 'o', 'n') y mi tupla 2 es:('h', 'a', 'c', 'k')

#### Add `tup1` and `tup2` into `tup3` using the `+` operator.

Then print `tup3` and check if `tup3` equals to `tup`.

In [8]:
# Your code here
tup3 = tup1+tup2
if tup3 == re_tupla: #condicionamos y verificamos si la variables son iguales
    print("Las 2 Tupplas son iguales")
else:
    print("no son iguales")

Las 2 Tupplas son iguales

#### Count the number of elements in `tup1` and `tup2`. Then add the two counts together and check if the sum is the same as the number of elements in `tup3`.

In [15]:
# Your code here
a = 0 #iniciamos contadores en 0
b = 0
c = 0 
for h in tup1: #hacemos un bucle for para poder contar la cantidad de variables dentro de la tuppla
    a = a+1 #llenamos la variable
print(f"Mi tupla 3 contiene {a} elementos\n") 

for i in tup2:
    b = b+1
print(f"Mi tupla 3 contiene {b} elementos\n")

for j in tup3:
    c = c+1
print(f"Mi tupla 3 contiene {c} elementos\n") 

d = a + b

if d == c:
    print(f"La suma de tuplas 1 y 2: {d} contienen la misma cantidad de datos que la tupla 3: {c}")
else:
    print("Las tuplas no suman lo mismo")

Mi tupla 3 contiene 4 elementos

Mi tupla 3 contiene 4 elementos

Mi tupla 3 contiene 8 elementos

La suma de tuplas 1 y 2: 8 contienen la misma cantidad de datos que la tupla 3: 8

#### What is the index number of `"h"` in `tup3`?

In [20]:
# Your code here
tup3[4]

'h'

#### Now, use a FOR loop to check whether each letter in the following list is present in `tup3`:

```
letters = ["a", "b", "c", "d", "e"]
```

For each letter you check, print `True` if it is present in `tup3` otherwise print `False`.

*Hint: you only need to loop `letters`. You don't need to loop `tup3` because there is a Python operator `in` you can use. See [reference](https://stackoverflow.com/questions/17920147/how-to-check-if-a-tuple-contains-an-element-in-python).*

In [30]:
# Your code here
letters = ["a", "b", "c", "d", "e"]
for i in letters:
    print(f"La lista contiene:{i}")

La lista contiene:a
La lista contiene:b
La lista contiene:c
La lista contiene:d
La lista contiene:e

In [31]:
# Your code here
letters = ["a", "b", "c", "d", "e"]
for i in letters:
        print( "El valor de i:", i, "se encuentra en tup3?", i in tup3 ) 
    #le indicamos que nos imprima si es correcto que hay un valor igual sino nos indicara que no lo hay

El valor de i: a se encuentra en tup3? True
El valor de i: b se encuentra en tup3? False
El valor de i: c se encuentra en tup3? True
El valor de i: d se encuentra en tup3? False
El valor de i: e se encuentra en tup3? False

#### How many times does each letter in `letters` appear in `tup3`?

Print out the number of occurrence of each letter.

In [32]:
# Your code here
letters = ["a", "b", "c", "d", "e"]
a=0
for i in letters:
        if i in tup3:
            a = a+1
print(f"Hay {a} valores de tup3 en la lista de letras")

Hay 2 valores de tup3 en la lista de letras

## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [5]:
import random as rn

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1 = []
b=[]
a = int(input("Ingrese la cantidad de valores"))#le pedimos que nos diga cuantos numeros valores le daremos a la lista
b = rn.sample(range(1,1001),a) #b nos devolvera una serie de numeros en un rango especificado y la cantidad de veces que se repita "a"
valor =[] 
for i in range(a): 
    while True: #generamos un while que siempre que sea cierto nos ira arrojando valores en el rango que le dimos
        valor = rn.sample(b,1)
        if valor[0] not in sample_list_1: #le indicamos que no puede repetirse el valor y nos dara valores unicos
            sample_list_1.append(valor[0])#ingresamos el valor dentro del indice de la lista
            break
sample_list_1.sort() #ordenamos la lista
print("Lista Final:", sample_list_1,"\n")#la imprimimos

Lista Final: [228, 271, 444, 459, 467, 596, 751, 870, 937, 991]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# your code here
cvacio = set()
ml= sample_list_1
set1 = set(ml)
print(len(set1))

10

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
sample_list_2 = []
b=[]
o = int(input("Ingrese la cantidad de valores"))#le pedimos que nos diga cuantos numeros valores le daremos a la lista
f = rn.sample(range(1,1001),a) #b nos devolvera una serie de numeros en un rango especificado y la cantidad de veces que se repita "a"
valor1 =[] 
for i in range(a):
    while True:#generamos un while que siempre que sea cierto nos ira arrojando valores en el rango que le dimos
        valor1 = rn.sample(f,1)
        if valor1[0] not in sample_list_2:#le indicamos que no puede repetirse el valor y nos dara valores unicos
            sample_list_2.append(valor1[0])
            break
sample_list_2.sort() #ordenamos la lista
print("Lista Final:", sample_list_2,"\n")#la imprimimos# your code here

Lista Final: [5, 8, 77, 138, 195, 359, 560, 568, 865, 878]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [28]:
# Your code herecvacio = set()
ml2= sample_list_2
set2 = set(ml2)
print(len(set1))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [43]:
# Your code here
set3= set()
for i in set1:
    if i not in set2:
        set3.add(i)
print(set3)

{512, 128, 640, 768, 770, 5, 775, 137, 270, 401, 658, 277, 22, 25, 922, 923, 540, 412, 158, 926, 34, 549, 38, 430, 303, 48, 49, 818, 692, 820, 566, 821, 191, 832, 449, 706, 67, 963, 456, 329, 842, 205, 846, 82, 598, 215, 727, 984, 475, 988, 94, 862, 97, 609, 355, 612, 101, 229, 869, 485, 487, 488, 876, 365, 111, 112, 754, 499, 628, 373, 501, 632, 124, 637}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [44]:
# Your code here
set4= set()
for j in set2:
    if j not in set1:
        set4.add(j)
print(set4)

{897, 515, 255, 645, 259, 772, 773, 265, 389, 139, 780, 390, 394, 271, 20, 149, 916, 917, 920, 921, 538, 667, 411, 31, 33, 161, 673, 421, 39, 936, 809, 298, 810, 938, 940, 814, 433, 950, 568, 57, 313, 443, 575, 63, 68, 708, 710, 583, 72, 711, 326, 460, 334, 210, 217, 473, 859, 606, 102, 232, 744, 874, 108, 366, 494, 496, 113, 241, 497, 885, 758, 631, 508, 639}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [37]:
# Your code here
set5 = set1 & set2
print(set5)

{674, 867, 43, 971, 945, 317}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [1]:
# Your code here
print(len(set1),len(set2),len(set3),len(set4),len(set5))
print(len(set3) == len(set1 - set2))  
print(len(set4) == len(set2 - set1))  
print(len(set5) == len(set1 & set2))

NameError: name 'set1' is not defined

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [49]:
# Your code here
set6 = set3.update(set5)

#### Check if `set1` and `set6` are equal.

In [50]:
# Your code here
print(set1 == set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [55]:
# Your code here
print("el set1 se encuentre en el set2:",set1.issubset(set2))
print("el set1 se encuentre en el set3:",set1.issubset(set3))

el set1 se encuentre en el set2: False
el set1 se encuentre en el set3: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [63]:
# Your code here
sett= set()
sett= set3.union(set3,set4,set5)
print("El sett es:\n", sett)
print("\n")
print(len(sett))
print("\n")
sett2 = sett.union(set1,set2)
print("El sett2 es:\n", sett2)
print("\n")
print(len(sett2))
print("\n")

El sett es:
 {512, 515, 5, 20, 22, 25, 538, 540, 31, 33, 34, 549, 38, 39, 43, 48, 49, 566, 568, 57, 575, 63, 67, 68, 583, 72, 82, 598, 94, 606, 97, 609, 612, 101, 102, 108, 111, 112, 113, 628, 631, 632, 124, 637, 639, 128, 640, 645, 137, 139, 658, 149, 667, 158, 161, 674, 673, 692, 191, 706, 708, 710, 711, 205, 210, 215, 727, 217, 229, 232, 744, 241, 754, 758, 255, 768, 770, 259, 772, 773, 775, 265, 780, 270, 271, 277, 809, 298, 810, 814, 303, 818, 820, 821, 313, 317, 832, 326, 329, 842, 846, 334, 859, 862, 355, 867, 869, 874, 876, 365, 366, 373, 885, 897, 389, 390, 394, 401, 916, 917, 920, 921, 922, 923, 412, 411, 926, 421, 936, 938, 940, 430, 945, 433, 950, 443, 449, 963, 456, 971, 460, 984, 473, 475, 988, 485, 487, 488, 494, 496, 497, 499, 501, 508}


154


El sett2 es:
 {512, 515, 5, 20, 22, 25, 538, 540, 31, 33, 34, 549, 38, 39, 43, 48, 49, 566, 568, 57, 575, 63, 67, 68, 583, 72, 82, 598, 94, 606, 97, 609, 612, 101, 102, 108, 111, 112, 113, 628, 631, 632, 124, 637, 639, 128, 640, 645, 137, 139, 658, 149, 667, 158, 161, 674, 673, 692, 191, 706, 708, 710, 711, 205, 210, 215, 727, 217, 229, 232, 744, 241, 754, 758, 255, 768, 770, 259, 772, 773, 775, 265, 780, 270, 271, 277, 809, 298, 810, 814, 303, 818, 820, 821, 313, 317, 832, 326, 329, 842, 846, 334, 859, 862, 355, 867, 869, 874, 876, 365, 366, 373, 885, 897, 389, 390, 394, 401, 916, 917, 920, 921, 922, 923, 412, 411, 926, 421, 936, 938, 940, 430, 945, 433, 950, 443, 449, 963, 456, 971, 460, 984, 473, 475, 988, 485, 487, 488, 494, 496, 497, 499, 501, 508}


154

#### Using the `pop` method, remove the first element from `set1`.

In [70]:
# Your code here
print(set1)
print("\n")
a=set1.pop()
print(a)
#con pop no se puede eliminar un elemento en espeficico

{22, 25, 540, 34, 549, 38, 43, 48, 49, 566, 67, 82, 598, 94, 97, 609, 612, 101, 111, 112, 628, 632, 124, 637, 128, 640, 137, 658, 158, 674, 692, 191, 706, 205, 215, 727, 229, 754, 768, 770, 775, 270, 277, 303, 818, 820, 821, 317, 832, 329, 842, 846, 862, 355, 867, 869, 876, 365, 373, 401, 922, 923, 412, 926, 430, 945, 449, 963, 456, 971, 984, 475, 988, 485, 487, 488, 499, 501}


22

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [73]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{25, 540, 34, 549, 38, 43, 48, 566, 67, 82, 598, 94, 97, 609, 612, 101, 111, 112, 628, 632, 124, 637, 128, 640, 137, 658, 158, 674, 692, 191, 706, 205, 215, 727, 229, 754, 768, 770, 775, 270, 277, 303, 818, 820, 821, 317, 832, 329, 842, 846, 862, 355, 867, 869, 876, 365, 373, 401, 922, 923, 412, 926, 430, 945, 449, 963, 456, 971, 984, 475, 988, 485, 487, 488, 499, 501}

## BONUS - Challenge 3: Dictionaries

In this challenge you will practice how to manipulate Python dictionaries. Before starting on this challenge, you are encouraged to review W3School's [Python Dictionary Examples and Methods](https://www.w3schools.com/python/python_dictionaries.asp).

First thing you will practice is how to sort the keys in a dictionary. Unlike the list object, Python dictionary does not have a built-in *sort* method. You'll need to use FOR loops to to sort dictionaries either by key or by value.

The dictionary below is a summary of the word frequency of Ed Sheeran's song *Shape of You*. Each key is a word in the lyrics and the value is the number of times that word appears in the lyrics.

In [14]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 
             'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 
             'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1,
             'friends': 1, 'then': 3, 'know': 2, 'take': 1, 'play': 1, 'okay': 1, 'so': 2, 'begin': 1,
             'start': 2, 'over': 1, 'body': 17, 'boy': 2, 'just': 1, 'we': 7, 'are': 1, 'girl': 2, 
             'tell': 1, 'singing': 2, 'drinking': 1, 'put': 3, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, 
             "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, "i'm": 23, 'like': 10, 
             'can': 1, 'doing': 2, 'with': 22, 'club': 1, 'come': 37, 'it': 1, 'somebody': 2, 'handmade': 2,
             'out': 1, 'new': 6, 'room': 3, 'chance': 1, 'follow': 6, 'in': 27, 'may': 2, 'brand': 6, 
             'that': 2, 'magnet': 3, 'up': 3, 'first': 1, 'and': 23, 'pull': 3, 'of': 6, 'table': 1, 'much': 2,
             'last': 3, 'i': 6, 'thrifty': 1, 'grab': 2, 'was': 2, 'driver': 1, 'slow': 1, 'dance': 1, 
             'the': 18, 'say': 2, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'me': 10, 'do': 3, 'waist': 2, 
             'smell': 3, 'day': 6, 'although': 3, 'your': 21, 'leave': 1, 'want': 2, "let's": 2, 'lead': 6, 'at': 1,
             'hand': 1, 'how': 1, 'talk': 4, 'not': 2, 'eat': 1, 'falling': 3, 'about': 1, 'story': 1, 'sweet': 1, 
             'best': 1, 'crazy': 2, 'let': 1, 'too': 5, 'van': 1, 'shots': 1, 'go': 2, 'to': 2, 'a': 8, 'my': 33, 
             'is': 5, 'place': 1, 'find': 1, 'shape': 6, 'on': 40, 'kiss': 1, 'were': 3, 'night': 3, 'heart': 3, 
             'for': 3, 'discovering': 6, 'something': 6, 'be': 16, 'bedsheets': 3, 'fill': 2, 'hours': 2, 
             'stop': 1, 'bar': 1}

#### Sort the keys of `word_freq` ascendingly.

Please create a new dictionary called `word_freq2` based on `word_freq` with the keys sorted ascedingly.

There are several ways to achieve that goal but many of the ways are beyond what we have covered so far in the course. There is one way that we'll describe employing what you have learned. Please feel free to use this way or any other way you want.

1. First extract the keys of `word_freq` and convert it to a list called `keys`.

1. Sort the `keys` list.

1. Create an empty dictionary `word_freq2`.

1. Use a FOR loop to iterate each value in `keys`. For each key iterated, find the corresponding value in `word_freq` and insert the key-value pair to `word_freq2`.

📖 [Documentation for a for loop](https://docs.python.org/3/reference/compound_stmts.html#for)

Print out `word_freq2` to examine its keys and values. Your output should be:

```python
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}
```

In [28]:
list_keys= [] #lista de claves del diccionario

for i in word_freq:
   list_keys.append(i)

list_keys.sort()    
print(list_keys)

word_freq2 = {} #llenado de nuevo diccionario

for elemento in list_keys:
    word_freq2[elemento] = word_freq[elemento]

print(word_freq2)

['a', 'about', 'all', 'although', 'and', 'are', 'at', 'baby', 'backseat', 'bag', 'bar', 'be', 'bedsheets', 'begin', 'best', 'body', 'boy', 'brand', 'can', 'chance', 'club', 'come', 'conversation', 'crazy', 'dance', 'date', 'day', 'discovering', 'do', 'doing', "don't", 'drinking', 'driver', 'eat', 'every', 'falling', 'family', 'fast', 'fill', 'find', 'first', 'follow', 'for', 'friends', 'get', 'girl', 'give', 'go', 'going', 'grab', 'hand', 'handmade', 'heart', 'hours', 'how', 'i', "i'll", "i'm", 'in', 'is', "isn't", 'it', 'jukebox', 'just', 'kiss', 'know', 'last', 'lead', 'leave', 'let', "let's", 'like', 'love', 'lover', 'magnet', 'make', 'man', 'may', 'me', 'mind', 'much', 'my', 'new', 'night', 'not', 'now', 'of', 'okay', 'on', 'one', 'our', 'out', 'over', 'place', 'plate', 'play', 'pull', 'push', 'put', 'radio', 'room', 'say', 'shape', 'shots', 'singing', 'slow', 'smell', 'so', 'somebody', 'something', 'sour', 'start', 'stop', 'story', 'sweet', 'table', 'take', 'talk', 'taxi', 'tell', 'that', 'the', 'then', 'thrifty', 'to', 'too', 'trust', 'up', 'van', 'waist', 'want', 'was', 'we', "we're", 'week', 'were', 'where', 'with', 'you', 'your']
{'a': 8, 'about': 1, 'all': 1, 'although': 3, 'and': 23, 'are': 1, 'at': 1, 'baby': 14, 'backseat': 1, 'bag': 1, 'bar': 1, 'be': 16, 'bedsheets': 3, 'begin': 1, 'best': 1, 'body': 17, 'boy': 2, 'brand': 6, 'can': 1, 'chance': 1, 'club': 1, 'come': 37, 'conversation': 1, 'crazy': 2, 'dance': 1, 'date': 1, 'day': 6, 'discovering': 6, 'do': 3, 'doing': 2, "don't": 2, 'drinking': 1, 'driver': 1, 'eat': 1, 'every': 6, 'falling': 3, 'family': 1, 'fast': 1, 'fill': 2, 'find': 1, 'first': 1, 'follow': 6, 'for': 3, 'friends': 1, 'get': 1, 'girl': 2, 'give': 1, 'go': 2, 'going': 1, 'grab': 2, 'hand': 1, 'handmade': 2, 'heart': 3, 'hours': 2, 'how': 1, 'i': 6, "i'll": 1, "i'm": 23, 'in': 27, 'is': 5, "isn't": 1, 'it': 1, 'jukebox': 1, 'just': 1, 'kiss': 1, 'know': 2, 'last': 3, 'lead': 6, 'leave': 1, 'let': 1, "let's": 2, 'like': 10, 'love': 25, 'lover': 1, 'magnet': 3, 'make': 1, 'man': 1, 'may': 2, 'me': 10, 'mind': 2, 'much': 2, 'my': 33, 'new': 6, 'night': 3, 'not': 2, 'now': 11, 'of': 6, 'okay': 1, 'on': 40, 'one': 1, 'our': 1, 'out': 1, 'over': 1, 'place': 1, 'plate': 1, 'play': 1, 'pull': 3, 'push': 3, 'put': 3, 'radio': 1, 'room': 3, 'say': 2, 'shape': 6, 'shots': 1, 'singing': 2, 'slow': 1, 'smell': 3, 'so': 2, 'somebody': 2, 'something': 6, 'sour': 1, 'start': 2, 'stop': 1, 'story': 1, 'sweet': 1, 'table': 1, 'take': 1, 'talk': 4, 'taxi': 1, 'tell': 1, 'that': 2, 'the': 18, 'then': 3, 'thrifty': 1, 'to': 2, 'too': 5, 'trust': 1, 'up': 3, 'van': 1, 'waist': 2, 'want': 2, 'was': 2, 'we': 7, "we're": 1, 'week': 1, 'were': 3, 'where': 1, 'with': 22, 'you': 16, 'your': 21}

#### Sort the values of `word_freq` ascendingly.

Sorting the values of a dictionary is more tricky than sorting the keys because a dictionary's values are not unique. Therefore you cannot use the same way you sorted dict keys to sort dict values.

The way to sort a dict by value is to utilize the `sorted` and `operator.itemgetter` functions. The following code snippet is provided to you to try. It will give you a list of tuples in which each tuple contains the key and value of a dict item. And the list is sorted based on the dict value ( [reference](http://thomas-cokelaer.info/blog/2017/12/how-to-sort-a-dictionary-by-values-in-python/)
).

```python
import operator
sorted_tups = sorted(word_freq.items(), key=operator.itemgetter(1))
print(sorted_tups)
```

Therefore, the steps to sort `word_freq` by value are:

* Using `sorted` and `operator.itemgetter`, obtain a list of tuples of the dict key-value pairs which is sorted on the value.

* Create an empty dictionary named `word_freq2`.

* Iterate the list of tuples. Insert each key-value pair into `word_freq2` as an object.

Print `word_freq2` to confirm your dictionary has its values sorted. Your output should be:

```python
{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}
```

In [ ]:
# Your code here
import operator
sorted_tups = sorted(word_freq.items(), key = operator.itemgetter(1))
print(sorted_tups)

word_freq3={} #diccionario por llenar

for elemento, valor in sorted_tups: #llenamos el diccionario
    word_freq3[elemento] = valor
print(word_freq3)

[('conversation', 1), ("we're", 1), ('plate', 1), ('sour', 1), ('jukebox', 1), ('taxi', 1), ('fast', 1), ('bag', 1), ('man', 1), ('going', 1), ('one', 1), ('backseat', 1), ('friends', 1), ('take', 1), ('play', 1), ('okay', 1), ('begin', 1), ('over', 1), ('just', 1), ('are', 1), ('tell', 1), ('drinking', 1), ('our', 1), ('where', 1), ("i'll", 1), ('all', 1), ("isn't", 1), ('make', 1), ('lover', 1), ('get', 1), ('radio', 1), ('give', 1), ('can', 1), ('club', 1), ('it', 1), ('out', 1), ('chance', 1), ('first', 1), ('table', 1), ('thrifty', 1), ('driver', 1), ('slow', 1), ('dance', 1), ('trust', 1), ('family', 1), ('week', 1), ('date', 1), ('leave', 1), ('at', 1), ('hand', 1), ('how', 1), ('eat', 1), ('about', 1), ('story', 1), ('sweet', 1), ('best', 1), ('let', 1), ('van', 1), ('shots', 1), ('place', 1), ('find', 1), ('kiss', 1), ('stop', 1), ('bar', 1), ("don't", 2), ('mind', 2), ('know', 2), ('so', 2), ('start', 2), ('boy', 2), ('girl', 2), ('singing', 2), ('doing', 2), ('somebody', 2), ('handmade', 2), ('may', 2), ('that', 2), ('much', 2), ('grab', 2), ('was', 2), ('say', 2), ('waist', 2), ('want', 2), ("let's", 2), ('not', 2), ('crazy', 2), ('go', 2), ('to', 2), ('fill', 2), ('hours', 2), ('push', 3), ('then', 3), ('put', 3), ('room', 3), ('magnet', 3), ('up', 3), ('pull', 3), ('last', 3), ('do', 3), ('smell', 3), ('although', 3), ('falling', 3), ('were', 3), ('night', 3), ('heart', 3), ('for', 3), ('bedsheets', 3), ('talk', 4), ('too', 5), ('is', 5), ('every', 6), ('new', 6), ('follow', 6), ('brand', 6), ('of', 6), ('i', 6), ('day', 6), ('lead', 6), ('shape', 6), ('discovering', 6), ('something', 6), ('we', 7), ('a', 8), ('like', 10), ('me', 10), ('now', 11), ('baby', 14), ('you', 16), ('be', 16), ('body', 17), ('the', 18), ('your', 21), ('with', 22), ("i'm", 23), ('and', 23), ('love', 25), ('in', 27), ('my', 33), ('come', 37), ('on', 40)]
{'conversation': 1, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'going': 1, 'one': 1, 'backseat': 1, 'friends': 1, 'take': 1, 'play': 1, 'okay': 1, 'begin': 1, 'over': 1, 'just': 1, 'are': 1, 'tell': 1, 'drinking': 1, 'our': 1, 'where': 1, "i'll": 1, 'all': 1, "isn't": 1, 'make': 1, 'lover': 1, 'get': 1, 'radio': 1, 'give': 1, 'can': 1, 'club': 1, 'it': 1, 'out': 1, 'chance': 1, 'first': 1, 'table': 1, 'thrifty': 1, 'driver': 1, 'slow': 1, 'dance': 1, 'trust': 1, 'family': 1, 'week': 1, 'date': 1, 'leave': 1, 'at': 1, 'hand': 1, 'how': 1, 'eat': 1, 'about': 1, 'story': 1, 'sweet': 1, 'best': 1, 'let': 1, 'van': 1, 'shots': 1, 'place': 1, 'find': 1, 'kiss': 1, 'stop': 1, 'bar': 1, "don't": 2, 'mind': 2, 'know': 2, 'so': 2, 'start': 2, 'boy': 2, 'girl': 2, 'singing': 2, 'doing': 2, 'somebody': 2, 'handmade': 2, 'may': 2, 'that': 2, 'much': 2, 'grab': 2, 'was': 2, 'say': 2, 'waist': 2, 'want': 2, "let's": 2, 'not': 2, 'crazy': 2, 'go': 2, 'to': 2, 'fill': 2, 'hours': 2, 'push': 3, 'then': 3, 'put': 3, 'room': 3, 'magnet': 3, 'up': 3, 'pull': 3, 'last': 3, 'do': 3, 'smell': 3, 'although': 3, 'falling': 3, 'were': 3, 'night': 3, 'heart': 3, 'for': 3, 'bedsheets': 3, 'talk': 4, 'too': 5, 'is': 5, 'every': 6, 'new': 6, 'follow': 6, 'brand': 6, 'of': 6, 'i': 6, 'day': 6, 'lead': 6, 'shape': 6, 'discovering': 6, 'something': 6, 'we': 7, 'a': 8, 'like': 10, 'me': 10, 'now': 11, 'baby': 14, 'you': 16, 'be': 16, 'body': 17, 'the': 18, 'your': 21, 'with': 22, "i'm": 23, 'and': 23, 'love': 25, 'in': 27, 'my': 33, 'come': 37, 'on': 40}